<div class="ui flash container">
  <% flash.each do |type, message| %>
    <div class="ui <%= semantic_ui_class_for(type) %> flash floating message">
      <i class="close icon"></i>
      <%= message %>
    </div>
  <% end %>
</div>
