<div class="ui container">
  <div class="ui computer reversed grid">
    <div class="sixteen wide mobile twelve wide tablet twelve wide computer column">

      <!-- begin graphics placeholders -->
      <div class="ui three column stackable grid">
        <div class="column">
          <div class="ui orange segment shadowless">
            <div class="ui placeholder">
              <div class="image header">
                <div class="line"></div>
                <div class="line"></div>
              </div>
              <div class="paragraph">
                <div class="line"></div>
                <div class="line"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui  green segment shadowless">
            <div class="ui placeholder">
              <div class="image header">
                <div class="line"></div>
                <div class="line"></div>
              </div>
              <div class="paragraph">
                <div class="short line"></div>
                <div class="medium line"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui  blue segment shadowless">
            <div class="ui placeholder">
              <div class="image header">
                <div class="line"></div>
                <div class="line"></div>
              </div>
              <div class="paragraph">
                <div class="medium line"></div>
                <div class="medium line"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end graphics placeholders -->

      <div class="ui placeholder segment">
        <div class="ui icon header">
          <i class="cart plus icon"></i>
          No transactions are listed for this customer.
        </div>
        <div class="ui primary button">Add Transaction</div>
      </div>

    </div>

    <div class="sixteen wide mobile four wide tablet four wide computer column">
      <div class="ui blue fluid large vertical secondary menu">
        <a href="#" class="header active item">Overview</a>
        <%= link_to '#', class: 'item' do %>
          <i class="left envelope icon"></i>
          SMS messaging
        <% end %>
        <%= link_to '#', class: 'item' do %>
          <i class="left dollar icon"></i>
          Money disbursement
        <% end %>
        <div class="ui divider"></div>
        <%= link_to '#', class: 'item' do %>
          <i class="left question icon"></i>
          Help
        <% end %>
      </div>
    </div>
  </div>
</div>
