// #login_form_segment {
//   box-shadow: none
// }

.ui.segment.shadowless {
  box-shadow: none
}

// force icons in items in main vertical menu to the left
.ui.vertical.menu .item > i.icon.left {
    float: none;
    margin: 0em 0.35714286em 0em 0em;
}
